/* ***************** utilities & containers ***************** */
:root {
    --header-footer-background: rgba(12, 74, 110, 1);
    --card-colour: rgba(195, 195, 196, 1);
    --text-colour-off-white: rgba(245, 245, 245, 1);
    --h1: 1.625rem;
    --h2: 3.75rem;
    --h3: 3rem;
    --h4: 2.125rem;
    --body-text: 1rem;
    --font-weight-bold: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-text);
    background-color: var(--text-colour-off-white);
}

.inner-container {
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 6.25rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.25rem 2rem;
}

/* ***************** global typography ***************** */
h1 {
    font-size: var(--h1);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
}

h3 {
    font-size: var(--h3);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--h4);
    font-weight: var(--font-weight-bold);
}

.flex-container .plan p {
    font-size: 1.5rem;
    color: var(--header-footer-background);
    font-weight: var(--font-weight-bold);
}

/* ***************** header & footer ***************** */
header,
footer {
    background-color: var(--header-footer-background);
    color: var(--text-colour-off-white);
    padding: 1.62rem 0;
}

/* ***************** main content ***************** */
.team {
    margin-top: 1.75rem;
}

.team .flex-container section {
    background-color: var(--card-colour);
    padding: 2.5rem 1.75rem;
    display: flex; /* makes it so the image and text are in separate columns */
    width: calc((100% / 2) - (2rem / 2));
    align-items: center; /* aligns the content to be in the center of the flexbox */
}

.flex-container section img {
    padding-right: 3.5rem;
}

.plans {
    margin: 6rem 0;
}

.flex-container section.plan {
    background-color: var(--card-colour);
    padding: 1.75rem 1.75rem;
    width: calc((100% / 3) - (4rem / 3));
    text-align: center;
}

.flex-container .plan ul {
    text-align: left;
    margin: 0;
}

.plan {
    /* streches the distance between the content to be equal to the height of the flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}